<div class="container">
  <div class="row">
    <div class="col-xs-4">
      <%= image_tag("julia.png", width: 100) %>
    </div>
    <div class="col-xs-7"><p align="justify">Julia, 22 anos. Em 2012, fiz um curso técnico de informática para internetno Instituto Federal de São Paulo. Foi quando tive meu primeiro contato com computação e me apaixonei por lógica de programação. Em 2014, ingressei no curso de Sistemas de Informação na Universidade de São Paulo. Estagiei na <a target="_blank" rel="noopener noreferrer" href="https://petlove.com.br">Petlove</a> como desenvolvedora Ruby on Rails. Fiz estágio na <a target="_blank" rel="noopener noreferrer" href="https://amazon.com.br">Amazon</a> como desenvolvedora Java, e atualmente sou estagiária de arquitetura de soluções na <a target="_blank" rel="noopener noreferrer" href="https://aws.amazon.com">AWS</a>.</p></div>
  </div>
</div>
