<div class="container">
  <div class="row">
    <div class="col-xs-12">
      Você pode entrar em contato comigo pelas seguintes redes sociais:<br />
      <%= image_tag("git.svg", width: 20) %> <a target="_blank" rel="noopener noreferrer" href="https://github.com/julialiff">github.com/julialiff</a><br />
      <%= image_tag("fb.png", width: 20) %> <a target="_blank" rel="noopener noreferrer" href="https://facebook.com/julialiff">github.com/julialiff</a><br />
      <%= image_tag("li.png", width: 20) %> <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/julialitvinoffjustus/">linkedin.com/in/julialitvinoffjustus/</a><br />
      <p align="justify"></p>
    </div>
  </div>
</div>
